<div class="row">
    <div class="col-md-12">
        <h4 style="padding-top: 20px; color: rgb(58, 117, 226);">Search :</h4>
        <hr>
        <form (ngSubmit)="Search(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="search">Search</label>
                    <input 
                        type="text" 
                        name="search"
                        class="form-control"
                        placeholder="latest news..."
                        ngModel
                        required>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="country">country</label>
                    <select class="form-control" name="country" ngModel>
                        <option value="en">US</option>
                        <option value="de">Deutschland</option>
                        <option value="fr">France</option>
                        <option value="en">UK</option>
                        <option value="ru">Russia</option>
                        <option value="es">Spain</option>
                        <option value="it">Italy</option>
                        <option value="bos">I</option>
                      </select>
                </div>

                <div class="col-md-6 form-group">
                    <label for="sortBy">Sort By</label>
                    <select class="form-control" name="sortBy" ngModel>
                        <option>Relevancy</option>
                        <option>Popularity</option>
                        <option value="publishedAt">By Date</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="f.valid == false">Search</button>
                    <button type="button" class="btn btn-danger"  (click)="onClear(f)">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row" routerLinkActive="act">
    <div class="col-md-6" *ngFor="let i of articles; let id=index">
                    
        <div class="card" [routerLink]="[id]" >
            <img class="card-img-top" src="{{i.urlToImage}}" alt="Card image cap">
            <div class="card-body">
                <p class="source">{{i.source.name}}</p>
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.author}}</p>
            </div>
        </div>
        <br>
    </div>
    
</div>
<div class="alert alert-danger" role="alert" *ngIf="noArticles">
    ther arent ani articles on topic {{f.value.search}}
  </div>
<router-outlet></router-outlet>
